@charset "utf-8";
/* CSS Document */

body {
	background-color:#BFBFBF;
}

.avatar {
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 20px;

}

.uppercase {
	text-transform: uppercase; 
}

.button {
	border: thin solid #000000;
	padding: 10px;
}

.button:hover {
	
	background-color:#BABABA;
	color: black;
	
}

.custom-font1{
	font-family: 'Montserrat', sans-serif;
}

.custom-font2{
	font-family: 'Benne', serif;
	font-weight: 900;
}

.flexbox-container {
	display: flex;
	align-items: center;
	height: 100vh;
}

.flexbox-item1 {
	min-width: 20%;
	padding: 30px;
	flex-shrink: 0;
	flex-grow: 0;
	text-align: center;
	height: 100vh;
}

.flexbox-item2 {
	min-width: 25%;
	flex-grow: 2;
	flex-shrink: 1;
	text-align: center;

}

.flexbox-item3 {
	min-width: 25%;
	flex-grow: 1;
	flex-shrink: 1;
	text-align: right;

}

.nav-list {

	list-style-type: none;
	display:inline;
	line-height: 30px;
	font-weight: 900;
	font-size: 90%;
	position: relative;
	bottom: 20px;
}

.nav-license {
	
	margin-top: 20px;
	
}

.sub-title{
	
	margin-top: 10px;
	font-size: 90%;
}

.remove-linkdecor{
	
	text-decoration: none;
	color: black;
}