@charset "utf-8";
/* CSS Document */

body {
	background-color: white;
	
}

.avatar {
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: 20px;
 
}

.flex {
	display: flex;
	justify-content:space-between;
	margin: auto;
	min-width: 1251px;
	max-width: 1251px;
	min-height: 1083px;
	padding-left: 20px;
	padding-right: 20px;
	border: 2px black solid;
}

.flexitem {
	background-color: ghostwhite;
	width: 320px;
	text-align: center;
}

ul {
	list-style-type: none;
	width: auto;
	padding: 0;
	font-weight: 900;
	line-height: 30px;
	font-size: 90%;
	margin-top: 40px;
	margin-bottom: 40px;
}

.remove-linkdecor{
	text-decoration: none;
	color: black;
}

.man-pic{
	height: 900px;
}

.flexitem2{
	align-self: center;
}
.flexitem3{
	align-self:flex-end;
}

.custom-font1{
	font-family: 'Castoro', serif;
}

.custom-font2{
	font-family: 'Raleway', sans-serif;
}

.main-h{
	font-size: 70px;
	line-height: 90px;
	word-spacing: 8px;
	margin: 0;
}

.nav-title{
	line-height: 20px;
}

.upp{
	text-transform: uppercase;
}

.nav-license{
	text-align: center;
	line-height: 25px;
}

.button {
	border: 2px solid #000000;
	border-radius: 3%;
	padding: 10px;
}

.button:hover {
	
	text-decoration:underline;
	color: black;
	
}

.case-icon {
	display: inline-block;
	margin-left: 5px;
	color:black;
}

.portfolio {
	
	letter-spacing: 3px;
	font-size: 80%;
	font-weight: 800;
}

.example-text{
	
	margin-bottom: 40px;
}